# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Env / Secrets
.env
.env.*

# Build artifacts / temp
bin/
obj/
dist/
build/
out/
tmp/
temp/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
.venv/
venv/
